html{
    background-image: url("http://4.bp.blogspot.com/-6_bzd1aZjwI/UwIrL_pH_2I/AAAAAAAAeTI/JL5gEPnV3gA/s1600/Fondos+de+Pantalla+Gratis+Abstractos+%2528261%2529.jpg");
    }
    
    h1 { color:#8B008B;text-align: center; }
    
    
    
    
    span {color:#042F27;}
    span {font-size: 60px;}
    #resultado {color:#042F45;}
    p {
      color:rgb(56, 8, 77);
      font-size: 40px;
    
    }
    
    table {color:#00008B;
    text-align: center;
    font-size: 25px;
    padding: .1em;
    overflow: hidden;
    }
    